html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

fieldset.search {
  border: 1px dashed orangered;
  width: max-content;
  background-color: white;
  position: sticky;
  top: 25px;
  align-self: flex-start;
}

legend {
  background-color: white;
}

fieldset.search > legend {
  border: 1px dashed orangered;
  padding: 3px 6px;
}

input.search.text {
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 0;
  text-shadow: 0;
}

input.search.text:focus {
  border: none;
  border-bottom: 1px solid orange;
  box-shadow: 0;
  text-shadow: 0;
  outline: none;
}

.playlist {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.playlist>*:nth-child(even){
  background-color: rgb(231, 231, 231);
}

.middle {
  position: sticky;
  top: 25px;
  align-self: flex-start;
}

img.album-cover {
  width: 350px;
  height: 350px;
}

fieldset.outputs {
  margin: 0;
  border: 0;
  padding: 0;
  width: 350px;
}

fieldset.controls {
  margin: 0;
  border: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 350px;
}

.control.hide {
  display: none;
}

.progress {
  margin: 0;
  border: 0;
  padding: 0;
}

.right {
  position: sticky;
  top: 25px;
  align-self: flex-start;
}

.menu.view {
  position: absolute;
  width: 200px;
  height: min-content;
  border: 1px solid red;
  right: 35px;
  top: 75px;
  z-index: 10;
}

.menu.view {
  display: block;
  background-color: #fff;
  padding: 10px;
}

.menu.view.hide {
  display: none;
}

button {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  color: orangered;
  font-size: 26px;
}

button.control {
  width: 35px;
  height: 35px;
  background-size: contain;
}

button.control.previous {
  background-image: url('./img/previous.png');
}

button.control.play {
  background-image: url('./img/play.png');
}

button.control.pause {
  background-image: url('./img/pause.png');
}

button.control.next {
  background-image: url('./img/next.png');
}

button.control.shuffle {
  background-image: url('./img/shuffle.png');
}

button.control.shuffle.active {
  box-shadow: inset 0px 0px 5px orangered;
}

.time-overview {
  clear: both;
  float: right;
}